[credentials]
user = yourusername
password = 
# For injection into the User-Agent, to be a good script
contactemail =

[site]
# Site to contact. No trailing slash
remote = https://www.transifex.com
project = reddit

[local]
# A local sqlite DB for tracking which users
# have been sent PMs
db = transifex.sqlite

[award]
# subject/message for PM sent to Transifex containing
# URL to claim the translator trophy. Each of these values
# is string formatted with a dict containing the user, lang and url
subject = Thanks for translating! Have a trophy!
message: Hey, %(user)s!
    Thanks for helping out on %(lang)s. As our way of showing
    our appreciation, we'd like to offer you a trophy for
    your hard work! You can claim it by clicking the link below:
    
    %(url)s
    
    Cheers!
